.card{
    border: 2px solid black !important;
    height: 50vh;
}
.card-text{
    border-top: 1px solid black;
}
.round{
    border: 1px solid black;
    width: 15px;
    height: 15px;
    border-radius: 50px;
}
.box{
    border: 1px solid black;
    width: 60px;
    height: 15px;
}
.round1{
    border: 1px solid black;
    width: 15px;
    height: 15px;
    border-radius: 50px;
}